table.matrice caption {
    padding: 10px;
    caption-side: bottom;
}

table.matrice {
    border-collapse: separate;
    table-layout: unset;
    width: auto;
    margin: auto;
}

table.matrice tr {
}

table.matrice td {
    height: 60px;
    width: 60px;
    border: 1px solid black;
    border-radius: 10px;
}

table.matrice td.blanc{
    background-color: white
}

table.matrice td.rouge{
    background-color: red;
    color: white;
    font-size: 20pt;
}

table.matrice td.vert{
    background-color: green;
    color: white;
    font-size: 20pt;
}

table.matrice td.bleu{
    background-color: blue;
    color: white;
    font-size: 20pt;
}

table.matrice td.rougeModele{
    background-color: red
}

table.matrice td.vertModele{
    background-color: green
}

table.matrice td.bleuModele{
    background-color: blue
}

table.invisible, table.invisible td {
    table-layout: unset;
    border: none;
    width: max-content;
    margin: auto;
}

input:invalid {
  border-color: red;
  color: red;
}

p.erreur {
    text-align: center;
    color: red;
}

p.juste {
    text-align: center;
    color: green;
}

#divComposantes {
    width: 100px;
    height: 0px;
    margin: 0 auto;
    background-color: red;
}
