body {
    background-color: #28b463;
}

div {
    margin-top: 50px;
    margin-bottom: 20px;
}

h1 {
    text-align: center;
}

a {
    display: block;
    text-align: right;
}

.poeme {
    width: max-content;
    margin: auto;
}

img {
    display: block;
    margin: auto;
    max-width: 220px;
}
